*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    width: 1200px;
    margin: auto;
}
h1 {
    font-size: 50px;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-weight: 700;
    line-height: 120px;
}
.w-50{
    width: 50%;
}
.d-flex{
    display: flex;
}
p{
    color: #705d5d;
}
.btn{
    line-height: 80px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(to left,#ff7052,#ff9a75);
    padding: 10px 40px;
    border-radius: 3px;
}
section{
    margin-bottom: 80px;
}
.text-center{
    text-align: center;
}
hr{
    width: 10%;
    border: 1px solid #ff9a75;
    margin: auto;
    margin-bottom: 60px;
}
.lh-normal{
    line-height: inherit;
}
/* .flex-row{
    flex-direction: row;
} */
/* banner section start */
.banner{
    background: no-repeat url(images/top-banner.png) ;
}
h1 span{
    color: #ffa500
}
h3{
    line-height: 50px;
}
.leftBanner{
    padding: 30px;
}
h1.name {
    font-size: 70px;
}
.leftBanner p{
    text-align: justify;
}

.rightBanner{
    padding: 30px;
}

/* <!-- Dream Big section start --> */

.dreamBig{
    background: no-repeat right url(images/dream-bg.png) ;
}
.rightDreamBig{
    padding-right: 50px !important;
}

/* experience section start */
.experiences{    
    background: no-repeat center left url(images/exp-bg.png) ;
}
.proXp {
    padding: 40px;
    box-shadow: ;
    box-shadow: 2px 2px 15px 7px rgba(0, 0, 0, 0.2);
    margin: 0 5%;
    border-radius: 5px;
}
.proXp h1{
    font-size: 30px;
    font-weight: 500;
    line-height: inherit;
    word-spacing: inherit;
    letter-spacing: normal;
}
.proXp h3{
    color: #ffa510;
}
.proXp p{
    text-align: justify;
}

#proXp{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan) 1;
}
#babyXp{
    border-left: 10px solid;
    border-image: linear-gradient(#ff7052,#ffa500) 1;
}

/* footer start */

footer{
    padding: 30px;
}